$white:           #fff;
$black:           #000;
$shadow:          rgba(0, 0, 0, 0.16);
$off-white:       rgb(240, 240, 240);
$purple-lt:       #41456475;
$blue:            #082a5b;
$aqua:            #1fbee6;
$red:             red;